@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    code {
        word-break: break-word;
    }

}

@layer utilities {

    .element-transitions-wrapper > .mx-edge {
        @apply mx-0;
    }

    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
    }

    .text-shadow-transparent {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    }

    input[type=number].show-spinners::-webkit-inner-spin-button,
    input[type=number].show-spinners::-webkit-outer-spin-button {
        opacity: 1
    }

}

@layer components {

    .prose a:not(.core-link) {
        @apply no-underline hover:underline focus-visible:outline-none focus-visible:ring-2 text-primary-700 focus-visible:ring-primary-200 focus-visible:bg-primary-200;
    }

}
